{% extends "base.html" %}

{% block content %}

<h1>Update Student</h1>

<form method="POST">

    <label>Roll Number</label>

    <input
        type="text"
        value="{{ student[0] }}"
        disabled
    >


    <label>Name</label>

    <input
        type="text"
        name="name"
        value="{{ student[1] }}"
        required
    >


    <label>Age</label>

    <input
        type="number"
        name="age"
        value="{{ student[2] }}"
        required
    >


    <label>Department</label>

    <input
        type="text"
        name="department"
        value="{{ student[3] }}"
        required
    >


    <label>Email</label>

    <input
        type="email"
        name="email"
        value="{{ student[4] }}"
        required
    >


    <label>Phone</label>

    <input
        type="text"
        name="phone"
        value="{{ student[5] }}"
        required
    >


    <button type="submit">
        Update Student
    </button>

</form>

{% endblock %}
